In [1]:
%matplotlib inline

import pandas as pd
import streamlit
import plotpy
import altair
from matplotlib import pyplot as plt

In [2]:
cars_for_sale = pd.read_csv("/Users/monte/Desktop/Sprint4Project/vehicles_us.csv")
print(cars_for_sale.info())

cars_for_sale.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In this section, were going to take the cars DataFrame that we created and were going to check for duplicates using the duplicated() method.

In [3]:
duplicated_cars = cars_for_sale.duplicated().sum()

print(f"There are {duplicated_cars} duplicated vehicles in this DataFrame.")

There are 0 duplicated vehicles in this DataFrame.

In [4]:
cars_for_sale["date_posted"] = pd.to_datetime(cars_for_sale["date_posted"])

In [9]:
average_odometer = cars_for_sale.groupby("model_year")["odometer"].mean()
display(average_odometer)

model_year
1908.0    169328.000000
1929.0              NaN
1936.0     30000.000000
1948.0      4000.000000
1949.0      1800.000000
              ...
2015.0     82501.745817
2016.0     61468.528880
2017.0     47557.926471
2018.0     25231.253908
2019.0     17076.810976
Name: odometer, Length: 68, dtype: float64

In [21]:
cars_for_sale = cars_for_sale.dropna(axis=1)

cars_for_sale.head()

,price,model,condition,fuel,transmission,type,date_posted,days_listed
0,9400,bmw x5,good,gas,automatic,SUV,2018-06-23,19
1,25500,ford f-150,good,gas,automatic,pickup,2018-10-19,50
2,5500,hyundai sonata,like new,gas,automatic,sedan,2019-02-07,79
3,1500,ford f-150,fair,gas,automatic,pickup,2019-03-22,9
4,14900,chrysler 200,excellent,gas,automatic,sedan,2019-04-02,28

In [25]:
cars_for_sale["type"].plot(kind="price")

ValueError: price is not a valid plot kind Valid plot kinds: ('line', 'bar', 'barh', 'kde', 'density', 'area', 'hist', 'box', 'pie', 'scatter', 'hexbin')